body{
  margin: auto;
  max-width: 750px;
  padding: 1em;
}

.board{
  padding-bottom: 100%;
  width: 100%;
  margin: 1em 0;
}

.field{
  background: transparent;
  font-size: 13px;
  display: block;
  float: left;
  margin: 0;
  padding: 0 0 calc(100%/9) 0;
  width: calc(100%/9);
  height: 1px;
  position: relative;
  opacity: 0.8;
}